@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Marck Script', cursive; 
  background-color: #f8bfff;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

h1 {
	font-size: 2em;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.item {
  width: 150px;
  height: 66px;
  border: 3px solid #f7703b;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #fce392 !important;
  padding: 0.8rem 1rem;
  color: #373737;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  min-height: 200px;
}

.start {
  background: linear-gradient(90deg, #fc316e 0%, #fa5757 100%);
}

.progress {
  background: linear-gradient(90deg, #fa5757 0%, #f85a3e 100%);
}

.done {
  background: linear-gradient(90deg, #fa5a3e 0%, #fc8050 100%);
}

.hold {
	border: 3px dotted #f7703b;
	box-shadow: 3px 3px 3px #7a7a7a inset;
}

.hide {
	display: none;
}

.hovered {
	border-radius: 15px;
	background: linear-gradient(180deg, #fce392b9 0%, #f8bfff 100%)
}